# Just in case, never filter git files
.gitattributes !filter !diff
.gitignore !filter !diff

# Autodetect text files
* text=auto eol=lf

*.json text

/.github export-ignore
/.vscode export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.gitmodules export-ignore
/.editorconfig export-ignore

LICENSE.md          linguist-generated=true
README.md           linguist-generated=true